<h1>SchoolRoom</h1>

<h2>A Simple Application for Communication with Parents</h2>

<h2>Existing Caregiver or Educator?  Click <%= link_to "Here!", login_path %></h2>

<h2>New Caregiver?  <%= link_to "Caregiver Registration Here!", new_caregiver_path %></h2>
<h2>New Educator? <%= link_to "Educator Registration Here!", new_educator_path %></h2>
