// Place all the styles related to the Educators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification {
  width: 800px;
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  color: #6d7993;
}
