// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav {
  color: white;
  font-family: tahoma;
  background-color: #9099A2;
  padding: 10px ;
  border: 0px;
  height: 25px;
  width: 800px;
}

nav a {
  color: white;
}

.login {
  width: 300px;
  border-style: solid;
  border-color: #6d7993;
  font-size: 20px;
  border-width: 1px;
  margin-left: 200px;
  padding: 10px;
}

.home {
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 22px;
  width: 125px;
  height: 50px;
  background-color: #6d7993;
  padding-left: 25px;
  padding-top: 10px;
  margin-top: 25px;
  margin-left: 275px;
}

.home a {
  color: white;
}
